.view {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.title-font {
  font-family: "Share Tech Mono", monospace;
}

.text-font {
  font-family: "Lato", sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
@import url("https://fonts.googleapis.com/css?family=Lato");
